
:root{
  --orange-color:#F00
 
  
}
.black-color{
  color: #070211;
}

/* shared style */
.orange-color{
  color:#F00;
}
.font-Merriweather{
  font-family: "Merriweather", serif;
}

.text-position{
  text-align: center;
}
.font-Inter{
  font-family: "Inter", sans-serif;
}

.title-white-color {
  color:#FFF
}




header{
  width:100%;
  height: 700px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Images/Banner\ Image.png');
  border-radius: 16px;
 background-repeat: no-repeat;
 background-size: cover;

 color: #FFF;
 text-align: center;


 
}
.header-section{
  padding: 177px 344px 177px 344px;
}
.header-small-title{
 text-align: center;
font-size: 32px;
font-weight: 400;

}

.header-main-title{
 

font-size: 72px;
font-weight: 900;
line-height: 95px;
}



/* Main style */

.offer{
  color: var(--orange-color);
  
 
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our-holiday-deals-are-better{
  color: var(--orange-color);


font-size: 24px;

font-weight: 500;

}

.all-categories{
  color: #070211;

font-size: 48px;

font-weight: 700;

}

.offer-section-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

  width: 100%;
  height: 500px;
 
}

.Welcome-to-midnight-party-div{
  margin-top: 120px;
  width: 100%;
  height: 600px;

  background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Images/Vectorrr.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 125px;
  padding-top: 125px;

  text-align: left;
}

.Welcome-to-midnight-party-title{


font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}


.Welcome-to-midnight-party-description{
  color: rgba(255, 255, 255, 0.80);

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.Welcome-to-midnight-party-join-now{
margin-left: 30px;
margin-top: 48px;
font-size: 20px;

font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.address{
  margin-top: 120px;
  padding: 110px 386px 110px 386px;
  background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}
.address-btn{
background-color: var(--orange-color);
padding: 16px 32px 16px 32px;
border-radius: 8px;
text-align: center;



text-align: center;

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

.address-context{
 
text-align: center;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px; /* 175% */
text-transform: capitalize;
}

.address-btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
}