:root{
  --orange-color:#F00
 
  
}
.black-color{
  color: #070211;
}

/* shared style */
.font-Merriweather{
  font-family: "Merriweather", serif;
}

.text-position{
  text-align: center;
}
.font-Inter{
  font-family: "Inter", sans-serif;
}

.title-white-color {
  color:#FFF
}




header{
  width:100%;
  height: 700px;

  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../Images/Banner\ Image.png');
  border-radius: 16px;
 background-repeat: no-repeat;
 background-size: cover;

 color: #FFF;
 text-align: center;


 
}
.header-section{
  padding: 177px 344px 177px 344px;
}
.header-small-title{
 text-align: center;
font-size: 32px;
font-weight: 400;

}

.header-main-title{
 

font-size: 72px;
font-weight: 900;
line-height: 95px;
}



/* Main style */

.offer{
  color: var(--orange-color);
  
 
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.our-holiday-deals-are-better{
  color: var(--orange-color);


font-size: 24px;

font-weight: 500;

}

.all-categories{
  color: #070211;

font-size: 48px;

font-weight: 700;

}

.offer-section-image{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;

  width: 100%;
  height: 500px;
 
}